# === Python basics ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log

# === Virtual environment ===
venv/
env/
.venv/
ENV/


build/
dist/
*.spec


*.exe
*.dll
*.so


.DS_Store
Thumbs.db


.env

.vscode/
.idea/
*.iml

*.bak
*.swp
*.tmp
~$*


logs/
cache/
